/* Header Section */
.altura-carousel {
    background-size: cover;
    height: 80vh;
}

/* Quienes Somos Section */
#quienes-somos {
    background-color: #000;
}

#quienes-somos .card {
    background-color: #000;
    color: white;
    border: none;
}
#quienes-somos .card-header {
    background-color: #44bcd8;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quienes-somos i {
    font-size: 30px;
}

/* Destacados Section */
#destacados {
    background-color: #000;
}

#destacados .card {
    margin-bottom: 30px;
    background-color: #44bcd8;
    color: #fff;
}

#destacados img {
    height: 200px;
    object-fit: cover;
}

/* Contacto Section */
#contacto {
    background-color: #000;
    color: #fff;
}

#contacto button {
    color: #fff;
    background-color: #44bcd8;
    border-color: #44bcd8;
}

/* Footer Section */
footer {
    background-color: #44bcd8;
    color: #fff;
    font-size: 25px;
}

footer .social-icons a {
    color: #fff;
    margin: 0 10px;
}

